name: CI

on:
  pull_request:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run UI + API
        run: npm run ci:check
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          API_TEST_BASE_URL: ${{ secrets.API_TEST_BASE_URL }}
          ENV: ci

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Download JMeter
        shell: pwsh
        run: |
          $ver = "5.6.3"
          $url = "https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-$ver.zip"
          Invoke-WebRequest $url -OutFile jmeter.zip
          Expand-Archive jmeter.zip -DestinationPath .
          "$PWD\apache-jmeter-$ver\bin" | Out-File -FilePath $env:GITHUB_PATH -Append
          jmeter -v

      - name: Run Perf smoke
        run: npm run perf:smoke

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: |
            playwright-report
            test-results

      - name: Upload JMeter reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-reports
          path: performance/jmeter/reports
